.modal {
  z-index: 2147483647;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); }
  .modal.isClose {
    display: none; }
  .modal.isOpen {
    display: flex; }

.modal__box {
  position: relative;
  width: 500px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 7px; }

.modal__close {
  z-index: 2147483647;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer; }

.modal__frame {
  padding: 30px; }

.modal__scene {
  background: #ffffff;
  text-align: center; }
  .modal__scene.isHide {
    display: none; }
  .modal__scene.isShow {
    display: block; }

.modal__loading {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: .8; }
  .modal__loading.isHide {
    display: none; }
  .modal__loading.isShow {
    display: flex; }

.modal__spinner {
  width: 50px;
  height: 50px;
  border-top: 5px solid rgba(224, 224, 224, 0.2);
  border-right: 5px solid rgba(224, 224, 224, 0.2);
  border-bottom: 5px solid rgba(224, 224, 224, 0.2);
  border-left: 5px solid #e0e0e0;
  border-radius: 50%;
  transform: translateZ(0);
  animation: modalSpinner .5s infinite linear; }
  .modal__spinner::after {
    width: 50px;
    height: 50px;
    border-radius: 50%; }

@keyframes openModal {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes openModalBox {
  from {
    opacity: 0;
    transform: scale(0.5); }
  to {
    opacity: 1;
    transform: scale(1); } }

.modal--openAnim {
  display: flex;
  animation: openModal 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  .modal--openAnim .modal__box {
    animation: openModalBox 0.5s cubic-bezier(0.19, 1, 0.22, 1); }

@keyframes closeModal {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes closeModalBox {
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scale(0.5); } }

.modal--closeAnim {
  display: flex;
  animation: closeModal 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  .modal--closeAnim .modal__box {
    animation: closeModalBox 0.5s cubic-bezier(0.19, 1, 0.22, 1); }

@keyframes modalSpinner {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes transitionModalScene {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.modal--transitionSceneAnim {
  display: block;
  animation: transitionModalScene 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
